body {
	background-image: url(../assets/images/menu.jpg);
	background-size: 1366px 768px;
    background-repeat: no-repeat;
    animation-name: example;
    animation-duration: 2s;
     overflow-x: hidden; /* Hide horizontal scrollbar */
  overflow-y: scroll;
  background-attachment: fixed;
  /*position: relative;*/
}


@keyframes example {
  from {opacity: 0;}
  to {opacity: 1;}
}

.navbar-nav.navbar-center {
    /*font-family: myFirstFont;*/
    /*padding-top: 20px;*/
    font-size: 25px;
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    width: 550px;
    text-decoration: none;
    height: 50px;
    color: white;
     /*padding-right: 20px;
     padding-left: 20px;*/
        /*margin-right: 10%;*/
    border-top: 1px solid white;
    border-bottom: 1px solid white;
        /*border-style: ridge;*/
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 4px;
    font-size: 25px;
    transition: 0.5s;
}

/*.welcome {
    padding-top: 10px;
    font-family: myFirstFont;
    color: white;
    margin-top: 10px;
    /*margin-bottom: 10px;
     position: absolute;
    left: 50%;
    transform: translatex(-50%);
}*/

/*@font-face {
  font-family: myFirstFont;
  src: url(../assets/font/parkavenueitalic.ttf);
}*/

@font-face {
  font-family: nongki;
  src: url(../font/Bangers-Regular.ttf);
}

@font-face {
  font-family: roboto;
  src: url(../font/Roboto-Regular.ttf);
}

@font-face {
  font-family: desc;
  src: url(../font/IndieFlower-Regular.ttf);
}



.welcome {
    /*text-align: right;*/
    /*margin-left: 600px;*/
    margin-top: 60px;
}

.welcomee {
    text-align: center;
    /*margin-right: 50%;*/
    /*margin-left: 70px;*/
    margin-top: 20px;
    margin-bottom: 60px;
    /*display:inline-block;*/
    /*white-space:  nowrap;*/
}



div .mid {
    
    color: white;
}

.example_e {
    
margin-top: 30px;
/*border: none ;*/
border: 3px solid white ;
/*background: #592c10;*/
background: rgba(255,255,255,0.3);;
color: #ffffff !important;
/*color: black;*/
font-weight: 600;
padding: 20px;
text-transform: uppercase;
border-radius: 6px;
display: inline-block;
transition: all 0.3s ease 0s;
}

.example_e:hover {
margin-top: 30px;
color: #404040 !important;
font-weight: 700 !important;
letter-spacing: 3px;
background: white;
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.3s ease 0s;
}

.middle {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pilihan-menu {
  font-family: roboto;
  padding: 5px;
  width: 1200px;
  background-color: black;
  border-radius: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pilihan-menu-item {
  font-family: roboto;
  padding-right: 35px;
  padding-left: 35px;
  font-size: 35px;
  /*display:inline-block;*/
  color: white;
  font-family: decs;
  transition: all 0.4s;
}

.pilihan-menu-item:hover {
  color: gold;
  text-decoration: none;
}

.active {
  color: gold;
}


#daftar-menu {
  margin-top: 20px;
}

.card-body {
  /*background-color: violet;*/
  background-color: #e3d3e6;
}

